.enroll-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.enroll-text-section {
    flex: 1;
}
.enroll-text-section h1 {
    font-size: 36px;
    color: #000;
    margin-bottom: 20px;
}
.enroll-text-section .enroll-button {
    margin-top: 50px;
    margin-left: 280px;
    width: 150px;
    height: 50px; 
    background-color: transparent;
    border: 1px solid #d45a1e;
    display: flex;
    align-items: center;
    justify-content: center;
}
.enroll-text-section .enroll-button:hover {
    color: #fff;
}
.enroll-text-section .enroll-button a {
    text-decoration: none;
    font-size: 18px;
    color: #f16e22;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.enroll-text-section .enroll-button:hover a {
    color: #fff; 
}
.enroll-form-section {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin-right: 100px;
    margin-top: 40px;
}
.enroll-form-section h2 {
    font-size: 22px;
    margin-bottom: 20px;
}
.enroll-form-section .enroll-close-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
}
.enroll-form-section .enroll-input{
    width: 374px;
}
.enroll-form-section form input,
.enroll-form-section form select {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.enroll-form-section form .enroll-captcha {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.enroll-form-section form .enroll-captcha-img {
    max-width: 100px;
}
.enroll-form-section form label {
    font-size: 12px;
    margin-top: 0px;
}
.enroll-form-section form .enroll-submit-button {
    background-color: #f16e22;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}
.enroll-form-section form .enroll-submit-button:hover {
    background-color: #d45a1e;
}
.enroll-text1 {
    font-size: 10px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.enroll-captcha-input {
    margin-top: 11px;
    width: 250px;
}
.enroll-captcha-img {
    border-radius: 5%;
}
.enroll-button {
    font-size: 24px;
    color: #000;
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold;
    text-align: center;
}
.enroll-checkbox-container {
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    color: #333;
    margin-top: 10px;
}
.enroll-checkbox-container input {
    margin-right: 10px;
    margin-top: 2px;
}
.enroll-checkbox-container label {
    line-height: 1.2;
}
.enroll-autho {
    margin-top: 0px;
}
.enroll-form-section i{
    margin-left: 155px;
}